



@mixin flexbox ( $colrow, $s_abe, $rcl,  $gap){
  display: flex;
  flex-direction: $colrow;
  justify-content: $s_abe;
  align-items: $rcl;
  gap: $gap + px;
}

@mixin button(){
  background-color: black;

  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}